html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
